body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition for both background and text color */
  background-color:#dfdfdf;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  width: 100%;
}

.egg-top, .egg-bottom {
  position: absolute;
  width: 50%; /* Adjust width as needed */
  height: auto;
  transform: scale(2.7);
  transition: transform 0.3s ease; /* Smooth transition for transform */
}
.egg-bottom {
  left: 327px;
}

/* Styling for the egg images */
.egg-top img,
.egg-bottom img{
  
  width: 100%;    /* Make sure the image takes up the full width of the parent */
  height: auto;   /* Maintain the aspect ratio of the images */
  object-fit: contain;
}

.light {
  position: absolute;
  width: 300px; /* Increased size of the spotlight */
  height: 300px; /* Increased size of the spotlight */
  border-radius: 50%;
  background: rgb(253, 235, 144); /* Slightly more transparent for blending */
  pointer-events: none;
  box-shadow: 0 0 80px rgba(255, 204, 0, 0.8), 0 0 500px rgba(255, 204, 0, 0.9);  /* Larger blur effect */
  transition: top 0.1s, left 0.1s;
  will-change: transform; /* Hint to browser for optimization */
  backdrop-filter: blur(1000px);  /* Add blur effect */
  mix-blend-mode: screen; 
  z-index: -1;
}
